body    {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    font-family:'open sans',arial,sans-serif;
    font-weight: 800;
    
}

.header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #eee;
    padding:10px 100px;
}

.header img     {
    width: 75px;
    height: auto;
}

.banner {
    flex:1;
    background-color: #1f2937;
    display:flex;
    justify-content: center;
    padding: 0 100px;
    align-items: center;
    gap: 64px;
    color: #e5e7eb;
    font-weight: normal;
}

.banner h1  {
    font-size: 48px;
}

.banner img {
    width: 400px;
    height: 200px;
}

.banner button  {
    padding: 5px 20px;
    background-color: #3882f6;
    color:white;
    border-radius: 5px;
    border: none;
    font-weight: 800;
}

.content    {
    flex: 1;
    color: #1f2937;
    background-color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.options    {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0;
}

.options .item  {
    width: 175px;
    font-size: 12px;
    font-weight: normal;
}

.item img   {
    width: 125px;
    height: 125px;
    border: solid #3882f6;
    border-radius: 10px;
}

.quote      {
    flex:1;
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
}

.quote-container    {
    width: 1000px;
}

.quote-container p    {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    margin-bottom: 0;      
}

.quote-container .person  {
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    text-align: right;
    margin-top: 0;
}
.sign-up    {
    flex:1;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    
}

.sign-up .container     {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    width: 1100px;
    border-radius: 8px;
    padding: 16px;
    gap: 32px;
    color: white;
}
.sign-up .container p   {
    font-size: 12px;
}

.sign-up .container button  {
    padding: 5px 20px;
    border-radius: 5px;
    border: solid white;
    font-weight: 800;
    background-color: #3882f6;
    color: white;
}

a   {
    text-decoration: none;
    color: #eee;
}

.footer  {
    text-align: center;
    background-color: #1f2937;
    color: #eee;
    padding: 32px;
}